{% import_yaml 'java/defaults.yaml' as default_settings %}
{% set java = salt['pillar.get']('java', default=default_settings.get('java'), merge=True) %}

{% for jre in java.get('install', []) %}
{% if jre not in java %}
{% do java.update({ jre: {} }) %}
{% endif %}

{% set j = java.get(jre) %}

{% do j.update({
  'home': j.get('home', java.directory + '/' + jre),
  'url_hash': j.get('url_hash', j.url ~ '.sha256.txt')
}) %}

{% endfor %}
